build/Debug-aspensimulator/
build/iphone_trds.build/Debug-aspensimulator/
build/iphone_trds.build/iphone_trds.pbxindex/pbxindex.header
build/iphone_trds.build/iphone_trds.pbxindex/strings.pbxstrings/control
build/iphone_trds.build/iphone_trds.pbxindex/symbols0.pbxsymbols
